.rounded-circle {
  border-radius: 50% !important;
}

.bg-cover {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.bg-white {
  background: white;
}

$positions: ("static", "fixed", "relative", "absolute", "sticky");
@each $position in $positions {
  .position-#{$position} {
    position: #{$position} !important;
  }
}

$displays: ("none", "block", "inline", "inline-block", "flex", "grid");
@each $display in $displays {
  .d-#{$display} {
    display: #{$display} !important;
  }
}

$cursors: ("default", "pointer", "not-allowed", "context-menu");
@each $cursor in $cursors {
  .cursor-#{$cursor} {
    cursor: #{$cursor} !important;
  }
}

$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120);

@each $space in $spaceamounts {
  .border-radius-#{$space} {
    border-radius: #{$space}px !important;
  }
  .h-#{$space}vh {
    min-height: #{$space}vh !important;
  }
  .h-#{$space} {
    height: #{$space}% !important;
  }
  .w-#{$space} {
    width: #{$space}% !important;
  }

  .t-#{$space} {
    top: #{$space}px !important;
  }
  .r-#{$space} {
    right: #{$space}px !important;
  }
  .b-#{$space} {
    bottom: #{$space}px !important;
  }
  .l-#{$space} {
    left: #{$space}px !important;
  }

  .p-#{$space} {
    padding: #{$space}px !important;
  }
  .pt-#{$space} {
    padding-top: #{$space}px !important;
  }
  .pb-#{$space} {
    padding-bottom: #{$space}px !important;
  }
  .pl-#{$space} {
    padding-left: #{$space}px !important;
  }
  .pr-#{$space} {
    padding-right: #{$space}px !important;
  }
  .px-#{$space} {
    padding-right: #{$space}px !important;
    padding-left: #{$space}px !important;
  }
  .py-#{$space} {
    padding-top: #{$space}px !important;
    padding-bottom: #{$space}px !important;
  }

  .m-#{$space} {
    margin: #{$space}px !important;
  }
  .mt-#{$space} {
    margin-top: #{$space}px !important;
  }
  .mb-#{$space} {
    margin-bottom: #{$space}px !important;
  }
  .ml-#{$space} {
    margin-left: #{$space}px !important;
  }
  .mr-#{$space} {
    margin-right: #{$space}px !important;
  }
  .mx-#{$space} {
    margin-right: #{$space}px !important;
    margin-left: #{$space}px !important;
  }
  .my-#{$space} {
    margin-top: #{$space}px !important;
    margin-bottom: #{$space}px !important;
  }
}

.no-gutters {
  margin: 0px !important;
  padding: 0px !important;
  & > div {
    margin: 0px !important;
    padding: 0px !important;
  }
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-black {
  color: black;
}


.centered-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}