* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --color-primary: #0e57ff;
  --avatar-dimension: 150px;
}

body {
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #f4f4f4;
}

@import "components/collaborator-avatar";

label.repo-checkbox {
  cursor: pointer;
  & > div {
    border: white 1px solid;
  }
}

input[type="checkbox"]:checked + label.repo-checkbox > div {
  border: var(--color-primary) 1px solid;
  & > div > div > i.fa-check-circle {
    color: var(--color-primary) !important;
  }
}

@import "utils";
