* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --color-primary: #0e57ff;
  --color-success: #14854f;
  --avatar-dimension: 150px;
  // --grid-gutter: 0rem;
  --body-background: #f4f4f4;
  --body-color: #000000;
  --body-high-contrast: #000000;
  --card-background: white;
  --sidebar-hover: #d5e1ff;
  --color-loader-bg: rgba(0, 0, 0, 0.04);
  --font-family: "CircularStd", -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  background: var(--body-background);
  color: var(--body-color);
}

@import "components/collaborator-avatar";
@import "components/card";

@import "utils/main";

.top-collar {
  background: var(--color-primary);
  color: white;

  position: fixed;
  width: 130px;
  top: 20px;
  right: -35px;

  text-align: center;
  border-top: 2px white dotted;
  border-bottom: 2px white dotted;

  transform: rotate(45deg);
}

.d2h-wrapper {
  background: white;
  color: black;
}
