* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --color-primary: #0e57ff;
  --avatar-dimension: 150px;
  --font-family: "CircularStd", -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  background: #f4f4f4;
}

@import "components/collaborator-avatar";

@import "utils";

.top-collar {
  background: var(--color-primary);
  color: white;

  position: fixed;
  width: 200px;
  top: 40px;
  right: -50px;

  text-align: center;
  border-top: 2px white dotted;
  border-bottom: 2px white dotted;

  transform: rotate(45deg);
}
