.text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-high-contrast {
  color: var(--body-high-contrast);
}

$cursors: ("default", "pointer", "not-allowed", "context-menu");
@each $cursor in $cursors {
  .cursor-#{$cursor} {
    cursor: #{$cursor} !important;
  }
}
