.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--avatar-dimension);
  width: var(--avatar-dimension);
  opacity: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

.collaborator-avatar-container {
  // transform: translateY(10px);
  transition: transform 0.5s ease;
}

.collaborator-avatar:hover {
  // transform: translateY(-5px);
  transition: 0.5s ease;
  & .overlay {
    transition: 0.5s ease;
    opacity: 1;
  }
}

input[type="checkbox"] + label.collaborator-check-label {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
  cursor: pointer;
}

input[type="checkbox"]:checked + label.collaborator-check-label {
  & > i {
    color: var(--color-primary) !important;
  }
}
